@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-padrao: "Bebas Neue";
}

#principal{
    /* border: 1px solid #d9d9d9; */
    width: 500px;
    font-family: var(--font-padrao);
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#box{
    width:100%;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    justify-content: center;  
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
    background-color: #fefefe;

}

#box > h2{
    font-size: 2em;
    background-image:  linear-gradient(to right, #09f, transparent);
    color: #fefefe;
    padding: 5px 5px;
    border-radius: 5px 0px 0px 5px;
}

#box > label{
    font-size: 1.5em;
}

#num{
    padding: 15px 5px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: none;
    font-family: var(--font-padrao);
}

#num.border-error{
    border: 1px solid red;
}


#num.border-blue:focus{
    border: 1px solid #09f;
    
}


::placeholder{
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: black;
}

#btn{
    margin-top: 10px;
    padding: 10px;
    font-family: var(--font-padrao);
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #fefefe;
}

#btn:hover{
    border: 1px solid black;
    background-color: black;
    color: #fefefe;
    transition: all linear .5s;
}


/* div resultado 
    se tiver um p-error ou p-fatorial gerado pelo js, ele vai aplicar o estilo
*/
div#resultado{
    margin-top: .2em;
}

div#resultado > p#p-error{
    /* border: 1px solid red; */
    padding: 10px 0px;
    background-color: red;
    text-align: center;
    color: #fefefe;
    border-radius: 5px;
}

div#resultado > #p-fatorial{
    background-color: #09f;
    text-align: center;
    color: #fefefe;
    border-radius: 5px;
    padding: 10px 0px;
    font-size: 1.3em;
}